@media print {
  .dn-p {
    display: none;
  }

  .flex-row-p {
    flex-direction: row;
  }

  .w-auto-p {
    width: auto;
  }

  .mr2-p {
    margin-right: 0.5rem;
  }

  .ml2-p {
    margin-left: 0.5rem;
  }

  .f2-p {
    font-size: 32px;
  }

  .bt-p {
    border-top-style: solid;
    border-top-width: 1px;
  }
}
