// Variables

// Colors
$brand-primary:         #27ae60;
$base-darkest-green:    #242f1a;
$base-tea-green:        #486527;
$base-wasabi-green:     #e2fea4;
$base-iko-green:        #177700;

.darkest-green {
  color: $base-darkest-green;
}

.tea-green {
  color: $base-tea-green;
}

.wasabi-green {
  color: $base-wasabi-green;
}

.iko-green {
  color: $base-iko-green;
}

.bg-darkest-green {
  background-color: $base-darkest-green;
}

.bg-tea-green {
  background-color: $base-tea-green;
}

.bg-wasabi-green {
  background-color: $base-wasabi-green;
}

.bg-iko-green {
  background-color: $base-iko-green;
}
